<div class="aboutme">
  <div class="img-crop">
    <img alt="mypic" src='images/mypic2.jpg' class="mypic"/>
  </div>
  <h1> Joshua Marc Shelto </h1>
  <p><span class="first-letter">W</span>eb developer, a graduate from General Assembly, an educational institution designed to transform thinkers into creators. After attending the University of Pennsylvania with a degree in criminology, I flew out to San Francisco to pursue an interest in web development. Having attended GA's 12-week web development immersive course, I now have the skills to create websites and applications. In a short time I became well-versed in Ruby and the associated framework, Ruby on Rails. Using this knowledge I designed an application that presents users with crime data associated with Craigslist housing listings located within the city of San Francisco. Tackling a number of technologies as needed, I gained experience with HTML, CSS, and Javascript, as well as a number of related frameworks and libraries including: Sinatra, Twitter Bootstrap, Foundation, JQuery, and AngularJS.</p>
</div>
