<div class="aboutme">
  <div class="img-crop">
    <img alt="mypic" src='images/mypic.jpg' class="mypic"/>
  </div>
  <h1> Joshua Marc Shelto </h1>
  <p><span class="first-letter">W</span>eb developer, a recent graduate from General Assembly, an educational institution designed to transform thinkers into creators. Having attended their 12-week web development immersive course, Joshua now has the skills to create websites and applications. In a short time he became well-versed in Ruby and the associated framework, Ruby on Rails. Using this knowledge he designed an application that presents users with crime data associated with Craigslist housing listings located within the city of San Francisco. Tackling a number of technologies as needed, he gained experience with HTML, CSS, and Javascript, as well as a number of related frameworks and libraries including: Sinatra, Twitter Bootstrap, Foundation, JQuery, and AngularJS.</p>
</div>