<div class="contactme">
  <h1> Get in touch</h1>
    <ul>
      <li><a href="mailto:jmshelto@hotmail.com" title="Email me at jmshelto@hotmail.com"><img src="images/icons/webicon-mail.png" /></a></li>
      <li><a href="http://www.linkedin.com/in/jmshelto" title="Connect on LinkedIn"><img src="images/icons/webicon-linkedin.png" /></a></li>
      <li><a href="https://twitter.com/jmshelto" title="Follow me @jmshelto"><img src="images/icons/webicon-twitter.png" /></a></li>
      <li><a href="https://github.com/JShelto" title="Check out my repos"><img src="images/icons/webicon-github.png" /></a></li>
    </ul>
</div>