<div class="myprojects">

  <div class="cscout">
    <a href="http://craigsscout-sf.herokuapp.com"><h2> CraigsScout-SF </h2> </a>
    <p>A merger of crime data and craigslist.com housing listings. Provides users with the percentage of crime that has occurred in each neighborhood over the past 3 months.</p>
    <ul>
      <li><a href="images/screenshots/craigsscout_front.png" class="fancybox" rel="scout" title="CraigsScoutSF"><img src="images/screenshots/craigsscout_front.png" alt="CraigsScout-SF frontpage"/></a></li>
      <li><a href="images/screenshots/craigsscout_apa.png" class="fancybox" rel="scout" title="CraigsScoutSF - Apartments & Housings"><img src="images/screenshots/craigsscout_apa.png" alt="CraigsScout-SF apartments and housings page"/></a></li>
      <li><a href="images/screenshots/craigsscout_subs.png" class="fancybox" rel="scout" title="CraigsScoutSF - Sublets & Temporary"><img src="images/screenshots/craigsscout_subs.png" alt="CraigsScout-SF sublets and temps page"/></a></li>
    </ul>
  </div>

  <div class="wigwm">
    <a href="http://wigwm.herokuapp.com"><h2> Wigwm</h2> </a>
    <p> A hyper-local, map-based, event-planning web application. Allows users to create their own events and have other users RSVP to them. Created with a team of 3 other people in a single week.</p>
    <ul>
      <li><a href="images/screenshots/wigwm_front.png" class="fancybox" rel="planner" title="Wigwm"><img src="images/screenshots/wigwm_front.png" alt="Wigwm frontpage"/></a></li>
      <li><a href="images/screenshots/wigwm_events.png" class="fancybox" rel="planner" title="Wigwm - Events"><img src="images/screenshots/wigwm_events.png" alt="Wigwm events page"/></a></li>
      <li><a href="images/screenshots/wigwm_commented.png" class="fancybox" rel="planner" title="Wigwm - Comments"><img src="images/screenshots/wigwm_commented.png" alt="Wigwm comments"/></a></li>
    </ul>
  </div>

  <div class="crunch">
    <a href="http://crunchmate.herokuapp.com"><h2> CrunchMate </h2></a>
    <p> A recipe finder that allows users to search on the bases of time, ingredient, and course. Powered by the Yummly API.</p>
    <ul>
      <li><a href="images/screenshots/crunchmate_front.png" class="fancybox" rel="mate" title="CrunchMate"><img src="images/screenshots/crunchmate_front.png" alt="CrunchMate frontpage"/></a></li>
      <li><a href="images/screenshots/crunchmate_egg.png" class="fancybox" rel="mate" title="CrunchMate - Recipes"><img src="images/screenshots/crunchmate_egg.png" alt="CrunchMate recipe page"/></a></li>
      <li><a href="images/screenshots/crunchmate_chicken.png" class="fancybox" rel="mate" title="CrunchMate - Ingredients" alt="CrunchMate recipe page"><img src="images/screenshots/crunchmate_chicken.png" /></a></li>
    </ul>
  </div>

</div>
