<div class="myresume">
  <div class="res-container">
    <div class="res-content">
      <a href="public/jmshelto_resume.pdf" download="jmshelto_resume.pdf"><h2>Joshua Shelto</h2></a>

      <div class="info"><p>2200 Sacramento St #1101 | San Francisco, CA | JMShelto@hotmail.com | 415.488.6526 | jmshelto.herokuapp.com</p></div>

      <div class="education">
        <hr noshade>
        <h4>EDUCATION</h4>
        <br/>
        <hr size=1>
        <h5>GENERAL ASSEMBLY</h5><span class="location">SAN FRANCISCO, CA</span></p>
        <br/>
        <p class="role"><i>Web Development Immersive (2013)</i></p>
        <br/>
        <h5>UNIVERSITY OF PENNSYLVANIA</h5> <span class="location">PHILADELPHIA, PA</span></p>
        <br/>
        <p class="role"><i>Bachelor of Arts, Criminology (May 2012)</i></p>
        <br/>
      </div>

      <div class="skills">
        <hr noshade>
        <h4>KEY RELEVANT SKILLS</h4>
        <br/>
        <hr size=1>
        <h5>WEB DEVELOPMENT</h5>
        <br/>
        <ul>
          <li><strong>Languages:</strong> Ruby, HTML5/HAML, CSS3, JavaScript
          <li><strong>Frameworks and Technologies:</strong> Rails, Sinatra, AngularJS, Foundation, Twitter Bootstrap, Nokogiri
        </ul>
        <br/>
      </div>

      <div class="projects">
        <hr noshade>
        <h4>PROJECTS</h4>
        <br/>
        <hr size=1>
        <h5>CRAIGSCOUT-SF(JULY 2013).</h5> <p>A single-page web application that scrapes the first page of Craigslist apartment and housing listings in San Francisco. The listings are returned with the percentage of crime in San Francisco that has occurred in the neighborhood provided for the individual listing.</p>
        <br/>
        <h5>WIGWM(AUGUST 2013).</h5><p>A map-based web application that allows users to create and host events in San Francisco, providing information such as genre, date, time, and cost. Users are also able to RSVP to and write comments for the available events as they appear on the map and index page.</p>
        <br/>
        <h5>CRUNCHMATE(SEPTEMBER 2013).</h5><p>A web application powered by the Yummly API that allows users to search for available recipes that fit within their time frame and are associated with a specified word.</p>
        <br/>
      </div>

      <div class="experience">
        <hr noshade>
        <h4>WORK EXPERIENCE</h4>
        <br/>
        <hr size=1>
        <h5>THE LINGUISTIC DATA CONSORTIUM </h5><span class="location">Philadelphia, PA</span></p>
        <br/>
        <p class="role"><i>Data Scout/Annotator (2011 – 2013)</i></p>
        <ul>
        <li>Assisted in the building of a corpus containing multi-modal data</li>
        <li>Used creativity and discretion to locate useful entries for the corpus</li>
        <li>Analyzed and annotated visual media for specific features</li>
        <li>Contributed knowledge to improve project operations</li>
        </ul>

        <h5>UNIVERSITY OF PENNSYLVANIA HOSPITALITY SERVICES</h5> <span class="location">Philadelphia, PA</span></p>
        <br/>
        <p class="role"><i>Conference Operations Assistant (2011)</i></p>
        <br/>
        <h5>RICKY’S NYC</h5> <span class="location">New York, NY</span></p>
        <br/>
        <p class="role"><i>Assistant Manager (2010 – 2011)</i></p>
        <br/>
        <h5>US CENSUS BUREAU</h5> <span class="location">Brooklyn, NY</span></p>
        <br/>
        <p class="role"><i>Crew Leader Assistant (2010)</i></p>
      </div>
      <br/>
      <a href="public/jmshelto_resume.pdf" download="jmshelto_resume.pdf"><small>Download as PDF</small><img src="images/pdficon_small.png"></a>
    </div>
  </div>
</div>