@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body {
  margin: 0px;
  background: rgb(0, 0, 0);
  overflow: auto;
}

.leftpane {
  display: block; 
  background-image:url('images/dirty_yellow.jpg');
  background-size: cover;
  width: 500px;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  float: left;
  border-right: 2px solid rgb(191, 165, 106);
}

.name {
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
  max-height: 100%;
}

.name p {
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 130px;
  font-weight: 900;
  color: rgb(0, 0, 0);
}

.name p:nth-child(1) {
  letter-spacing: 5px;
}

.name p:nth-child(3) {
  letter-spacing: 5px;
}

.name p:nth-child(4) {
  letter-spacing: 10px;
}

button {
  position: absolute;
  z-index: 1;
  left: 509px;
  background-color: rgb(252, 226, 167);
  border-top: 2px solid rgb(247, 231, 197);
  border-left: 2px solid rgb(247, 231, 197);
  border-right:  2px solid rgb(201, 179, 132);
  border-bottom: 2px solid rgb(201, 179, 132);
}

/*linking tabs*/
.tab {
  z-index: -1;
  background-color: rgb(252, 226, 167);
  position: fixed;
  border-radius: 5px;
  border-right:  1px solid rgb(248, 218, 162);
  border-bottom: 1px solid rgb(248, 218, 162);
  box-shadow: 2px 2px 5px #888888;
}

.tab:hover {
  transform: translate(150px,0);
  -webkit-transform: translate(150px,0);
  -o-transform: translate(150px,0);
  -moz-transform: translate(150px,0); 

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transform: all 0.5s ease-in-out; 
  -moz-transform: all 0.5s ease-in-out;
}

.revealed {
  transform: translate(150px,0);
  -webkit-transform: translate(150px,0);
  -o-transform: translate(150px,0);
  -moz-transform: translate(150px,0); 
}

.tab p{
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-left: 80px;
  padding-right: 40px;
}

#about {
  left: 336px;
  top: 100px;
}

#projects {
  left: 317px;
  top: 250px;
}

#resume {
  left: 314px;
  top: 400px;
}

#contact {
  left: 316px;
  top: 550px;
}

/*right pane */
.rightpane {
  z-index: -3;
  position: absolute;
  left: 502px;
  width: 50%;
}

/*about page */
.aboutme {
  text-align: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  left: 502px;
}

.aboutme h1 {
  margin: 0 auto;
  position: relative;
  font-family: helvetica;
  color: rgb(252, 252, 252);
  padding: 0 0 20px 0;
}

.aboutme p {
  font-family: 'Gentium Book Basic', serif;
  font-size: 15px;
  color: rgb(252, 252, 252);
  text-align: justify;
  position: relative;
  padding: 0 150px;
  margin: 10px auto;
}

.first-letter {
  font-size: 40px;
  line-height: 0px;
}

.img-crop {
  margin: 110px auto;
  margin-bottom: 40px;
  background-color: black;
  width: 150px;
  height: 150px;
  position: relative;
  border: 5px solid rgb(252, 252, 252);
  border-radius: 50%;
  overflow: hidden;
}

.aboutme .mypic {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 150px;
  height: 150px;
}

/*resume page*/

.myresume {
  text-align: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
  right: -14%;
  height: 90%;
}

.res-container {
  text-align: center;
  position: relative;
  margin: 5% auto;
  width: 90%;
  background: rgb(252, 252, 252);
  border-radius: 30px;
  background: rgb(254,254,254);
  background: -moz-linear-gradient(-45deg,  rgba(254,254,254,1) 0%, rgba(209,209,209,1) 42%, rgba(219,219,219,1) 60%, rgba(226,226,226,1) 95%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(42%,rgba(209,209,209,1)), color-stop(60%,rgba(219,219,219,1)), color-stop(95%,rgba(226,226,226,1)));
  background: -webkit-linear-gradient(-45deg,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 42%,rgba(219,219,219,1) 60%,rgba(226,226,226,1) 95%);
  background: -o-linear-gradient(-45deg,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 42%,rgba(219,219,219,1) 60%,rgba(226,226,226,1) 95%);
  background: -ms-linear-gradient(-45deg,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 42%,rgba(219,219,219,1) 60%,rgba(226,226,226,1) 95%);
  background: linear-gradient(135deg,  rgba(254,254,254,1) 0%,rgba(209,209,209,1) 42%,rgba(219,219,219,1) 60%,rgba(226,226,226,1) 95%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=1 );
}

.res-content{
  padding: 20px;
}
.myresume h4, h5{
  text-align: left;
  padding: 0;
  margin: 0;
  float: left;
}

.myresume p{
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.myresume ul {
  margin-top: 5px;
  padding-left: 45px;
  text-align: left;
}

.myresume li {
  padding-left: 5px;
  text-align: left;
  font-size: 12px;
}

.myresume h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 5px;
}

.myresume a{
  text-decoration: none;
}

.projects p {
  line-height: 1.4;
  text-align: left;
}

.role {
  text-align: left;
  font-size: 12px;
}

.location {
  float: right;
  font-size: 12px;
}

/* contact page */

.contactme {
  text-align: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  left: 502px;
  padding-top: 10%;
}

.contactme h1 {
  margin: 0 auto;
  position: relative;
  font-family: helvetica;
  color: rgb(252, 252, 252);
  padding: 0 0 20px 0;
  text-align: center;
}

.contactme ul {
  position: relative;
  padding: 0 200px;
  margin: 10px auto;
  list-style-type: none;
}

.contactme ul li {
  display: inline;
  padding: 25px;
}



/* projects page */

.myprojects{
  text-align: center;
  margin: 0 auto;
  padding-left: 25%;
}

.external {
  line-height: 120px;
}

.screenshot {
  width: 171px;
  height: 97px;
  border-radius: 10px;
  border: 3px solid rgb(252, 252, 252);
}

.myprojects p {
  font-family: helvetica;
  font-size: 12px;
  color: rgb(252, 252, 252);
}

.myprojects li {
  padding-right: 20px;
  list-style-type: none;
  display: inline;
}

.myprojects a {
  text-decoration: none;
}

.myprojects a:active, .myprojects a:visited, .myprojects a:link {
  color: rgb(252, 252, 252);
}

.cscout a:hover {
  text-shadow: -1px 1px 8px rgb(161, 28, 194), 1px -1px 8px #fff;
}

.wigwm a:hover {
  text-shadow: -1px 1px 8px rgb(115, 182, 230), 1px -1px 8px #fff;
}

.crunch a:hover {
  text-shadow: -1px 1px 8px rgb(252, 210, 113), 1px -1px 8px #fff;
}