@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);

body {
  padding: 0px;
  margin: 0px;
  background: rgb(0, 0, 0);
  overflow-x: hidden; 
}

.leftpane {
  display: block; 
  background-image:url('images/dirty_yellow.jpg');
  width: 500px;
  height: 100%;
  position: fixed;
  padding: 0px;
  margin: 0px;
  float: left;
  border-right: 2px solid rgb(191, 165, 106);
  overflow-y: hidden;
}

.name {
  padding-top: 50px;
  padding-bottom: 50px;
}

.name p {
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 130px;
  font-weight: 900;
  color: (0, 0, 0);
}

.name p:nth-child(1) {
  letter-spacing: 5px;
}

.name p:nth-child(3) {
  letter-spacing: 5px;
}

.name p:nth-child(4) {
  letter-spacing: 10px;
}

/*linking tabs*/
.tab {
  z-index: -1;
  background-color: rgb(252, 226, 167);
  position: fixed;
  border-radius: 5px;
  border-right:  1px solid rgb(248, 218, 162);
  border-bottom: 1px solid rgb(248, 218, 162);
  box-shadow: 2px 2px 5px #888888;
}

.tab:hover {
  transform: translate(40px,0);
  -webkit-transform: translate(150px,0);
  -o-transform: translate(350px,0);
  -moz-transform: translate(350px,0); 

  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transform: all 0.7s ease-in-out; 
  -moz-transform: all 0.7s ease-in-out;
}

.tab p{
  text-align: center;
  font-family: helvetica;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding-left: 80px;
  padding-right: 40px;
}

#about {
  left: 336px;
  top: 15%;
}

#projects {
  left: 317px;
  top: 35%;
}

#resume {
  left: 314px;
  top: 55%;
}

#contact {
  left: 316px;
  top: 75%;
}

/*right pane */
.rightpane {
  z-index: -3;
  position: absolute;
  left: 502px;
  width: 100%;
}

/*about page */
.aboutme {
  text-align: center;
  height: 100%;
  background-color: rgb(0, 0, 0);
  position: fixed;
  left: 502px;
}

.aboutme h1 {
  margin: 0 auto;
  position: relative;
  font-family: helvetica;
  color: rgb(252, 252, 252);
  padding: 0 0 20px 0;
}

.aboutme p {
  font-family: 'Gentium Book Basic', serif;
  font-size: 15px;
  color: rgb(252, 252, 252);
  text-align: justify;
  position: relative;
  padding: 0 150px;
  margin: 10px auto;
}

.first-letter {
  font-size: 40px;
  line-height: 0px;
}

.img-crop {
  margin: 110px auto;
  margin-bottom: 40px;
  background-color: black;
  width: 150px;
  height: 150px;
  position: relative;
  border: 5px solid rgb(252, 252, 252);
  border-radius: 50%;
  overflow: hidden;
}

.aboutme .mypic {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 220px;
  height: 220px;
}

/*resume page*/

.myresume {
  text-align: center;
  position: relative;
  margin: 0 auto;
  z-index: -2;
  width: 60%;
  right: 18%;
  height: 90%;
}

.res-container {
  text-align: center;
  position: relative;
  margin: 5% auto;
  width: 90%;
  background: rgb(252, 252, 252);
  border-radius: 10px;
}

.res-content{
  padding: 20px;
}
.myresume h4, h5{
  text-align: left;
  display: inline;
  padding: 0;
  margin: 0;
  float: left;
}

.myresume p{
  padding: 0;
  margin: 0;
}

.role {
  text-align: left;
  font-size: 12px;
}

.location {
  display: inline;
  float: right;
  font-size: 12px;
}