body {
  background-color: #ECE8DF;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.leftpane {
  display: block; 
  background-image:url('images/dirty_yellow.jpg');
  width: 500px;
  height: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px;
  float: left;
}

#bottom-four {
  letter-spacing: 10px;
}

.name {
  padding-top: 50px;
  padding-bottom: 50px;
}

.name p {
  margin: 0 auto;
  text-align: center;
  font-family: helvetica;
  font-size: 130px;
  font-weight: 900;
  letter-spacing: 5px;
  color: (0, 0, 0);
}